$colors: blue, red, green, orange, red, purple, gray, yellow, pink, brown, black;

/*--Callout Coloring--*/
.callout.callout.callout {
    --callout-blue: 82, 139, 212;
    --callout-green: 86, 179, 117;
    --callout-orange: 230, 129, 63;
    --callout-red: 193, 67, 67;
    --callout-purple: 153, 97, 218;
    --callout-gray: 166, 189, 197;
    --callout-yellow: 208, 181, 48;
    --callout-pink: 227, 107, 167;
    --callout-brown: 161, 106, 73;
    --callout-black: 0, 0, 0;
    // --callout: rgb(227, 107, 167);

    // Title Text Colors
    @each $color in $colors {
        &:is(
            [data-callout-metadata~="color-#{$color}"],
            [data-callout-metadata~="c-#{$color}"],
            [data-callout-metadata~="background-color-#{$color}"],
            [data-callout-metadata~="bg-c-#{$color}"]
        ) > .callout-title {
            --callout-color: var(--callout-#{$color});
        }
    }

    &:is(
        [data-callout-metadata~="color-"], [data-callout-metadata~="c-"]
    ) { --callout-color: var(--callout); }


    // Background Colors
    @each $color in $colors {
        &:is(
            [data-callout-metadata~="background-#{$color}"],
            [data-callout-metadata~="bg-#{$color}"],
            [data-callout-metadata~="background-color-#{$color}"],
            [data-callout-metadata~="bg-c-#{$color}"]
        ) {
            background-color: rgba(var(--callout-#{$color}), 10%);
        }
    }

    // Background & Text
    // Title Text Colors
    @each $color in $colors {
        &:is(
            [data-callout-metadata~="background-color-#{$color}"],
            [data-callout-metadata~="bg-c-#{$color}"]
        ) {
            --callout-color: var(--callout-#{$color});
        }
    }
}

